body {
  font-family: Arial;
  padding: 20px;
  width: 400px;
  margin: auto;
}
input {
  width: 70%;
  padding: 5px;
}
button {
  padding: 5px 10px;
  cursor: pointer;
}
p {
  font-weight: bold;
  margin-top: 10px;
}